fastapi
uvicorn[standard]
motor==3.4.0
beanie==1.26.0
pymongo==4.6.3
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
websockets
python-dotenv
slowapi
numpy
librosa
SpeechRecognition
nltk
spacy
scikit-learn
sounddevice
scipy
